* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.table {
	width: 100%;
	margin-bottom: 20px;
	border: 1px solid #dddddd;
	border-collapse: collapse; 
	font-size: 15px;
}
.table th {
	font-weight: bold;
	padding: 5px;
	background: #efefef;
	border: 1px solid #dddddd;
}
.table td {
	border: 1px solid #dddddd;
	padding: 5px;
  text-align: center;
}

.table tr:hover {
	border: 1px solid #dddddd;
	padding: 5px;
  opacity: 0.8;
}

.table th span {
	font-size: 20px;
}

.green {
  background: #47d547;
}

.red {
  background: rgba(255, 0, 0, 0.582);
}

.gray {
	background: gray
}

.golden {
	background: gold;
}

input {
  width: 40px;
}

.material-symbols-outlined {
	cursor: pointer;
	user-select: none;
}

.result {
	width: 100vw;
	height: 6vh;
	background: #efefef;
	border: 1px solid #dddddd;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.result h1 {
	font-size: 15px;
	text-align: center;
}

.navbar {
	width: 100%;
	height: 20vh;
	background-color: #dddddd;
	border: 1px solid black;
	display: grid;
	border-left: none;
	border-right: none;
	grid-auto-columns: 1fr; 
	grid-template-columns: 30% 30% 10% 10% 20%; 
  	grid-template-rows: 1fr; 
  	gap: 0px -20px; 
  	grid-template-areas: 
    ". . . . ."; 
	border-top: none;
	padding: 10px;
	justify-items: center;
	align-items: center;
}

.navbar input {
	padding: 0 0 0 5px;
	height: 40px;	
}

.navbar input[name="name"] {
	width: 250px;
}

.navbar input[name="expenses"] {
	width: 250px;
}

.navbar input[name="takes"] {
	padding: 0 0 0 12px;
	width: 80px;
	text-align: center;
}

.navbar input[name="myTakes"] {
	padding: 0 0 0 12px;
	width: 80px;
	text-align: center;
}

.navbar button {
	height: 60px;
	width: 100px
}

header {
	display: grid; 
	border-left: none;
	grid-auto-columns: 1fr; 
	grid-template-columns: 30% 70%; 
	grid-template-rows: 1fr; 
	gap: 0px 0px; 
	grid-template-areas: 
	  ". .";
}

.logo {
	background-color: #dddddd;
	border: 1px solid black;
	border-right: none;
	border-top: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-left: none;
}

.subLogo {
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo span {
	font-size: 60px;
	color: rgba(255, 0, 0, 0.582);
	animation: walk;
	animation-duration: 10s;
	animation-iteration-count: infinite;
}

.logo {
	font-family: 'Yeseva One', serif;
	user-select: none;
	cursor: pointer;
}

.logo a {
	text-decoration: none;
	color: black;
}

.exitBtn {
	background-color: #ff000000;
	border: none;
	font-family: 'Yeseva One', serif;
	color: blue;
	text-decoration: underline;
	cursor: pointer;
	margin-top: 10px;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 10vh;
	background-color: #dddddd;
	border: 1px solid black;
	border-left: none;
	border-right: none;
}

footer p {
	text-align: center;
	font-size: 15px;
}

.container {
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
	min-height: fit-content;
	height: fit-content;
}

.shadow {
	user-select: none;
	pointer-events: none;
	overflow: hidden;
}


.inContainer {
	width: 100vw;
	height: 70vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 10px;
}

.inForm {
	width: 50vw;
	height: fit-content;
	border: 2px solid black;
	padding: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #efefef;
}

.inForm label {
	margin: 2px 0;
	font-weight: 600;
	font-size: 15px;
}

.inForm input {
	width: 60%;
	height: 30px;
	font-size: 20px;
	padding: 5px;
}

.inForm h2 {
	margin-bottom: 15px;
	font-size: 20px;
}

.inForm button {
	margin-top: 10px;
	height: 25px;
	width: 220px;
	border-radius: 25px;
	border: none;
	background-color: #47d547;
	padding: 5px;
	font-size: 15px;
	font-weight: 700;
	cursor: pointer;
}

.blue {
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}

.redInput {
	border: 1px solid red;
	outline: 1px solid red;
}

.money {
	color: rgb(34, 141, 34);
}


.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color:rgba(255, 0, 0, 0.582);
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

.containder-for-loader {
	width: 100vw;
	height: 70vh;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

th span {
	vertical-align: middle !important;
}

.month {
	width: 100vw;
	height: 30px;
	background: #efefef;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding-left: 15px;
}

.monthContainer:nth-child(n + 3) {
	border-top: 1px solid;
}


.error {
	margin-top: 20px;
	width: 60%;
	height: 45px;
	padding: 5px;
	background-color: #d83f3fce;
	border: 3px solid #d83f3f;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.error h3 {
	text-align: center;
}

.navbarContainer {
	gap: 7px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
}

.noCases {
	display: flex;
	justify-content: center;
	gap: 40px;
	flex-direction: column;
	align-items: center;
	min-height: 70vh;
	height: fit-content;
	background-color: #efefef;
	width: 100vw;
}

.suitMaker {
	display: flex;
	justify-content: center;
	align-items: start;
	flex-direction: column;
	min-height: 70vh;
	height: fit-content;
	background-color: #efefef;
	width: 100vw;
}

.boxCreator {
	padding: 25px;
	gap: 25px;
	display: flex;
	justify-content: start;
	align-items: start;
	flex-direction: column;
	height: 70vh;
	width: 100%;
	background-color: #efefef;
}

.noCases h2 {
	width: 70%;
	text-align: center;
	font-family: 'Yeseva One', serif;
	color: #3d3d3dd5;
	padding: 0 40px;
}

.adminBtn {
	background-color: gold;
	border: 1px solid;
	padding: 2px;
	cursor: pointer;
}

.adminBtn:hover {
	background-color: rgb(179, 152, 1);
}

.adminPnl {
	width: 100vw;
	height: 70vh;
	background-color: white;
}

input[type="checkbox"] {
	--s: 15px; /* adjust this to control the size*/
	height: calc(var(--s) + var(--s)/5);
	width: auto; /* some browsers need this */
	aspect-ratio: 2.25;
	border-radius: var(--s);
	margin: calc(var(--s)/2);
	display: grid;
	cursor: pointer;
	background-color: #ff7a7a;
	box-sizing: content-box;
	overflow: hidden;
	transition: .3s .1s;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
  }
  
  input[type="checkbox"]:before {
	content: "";
	padding: calc(var(--s)/10);
	--_g: radial-gradient(circle closest-side at calc(100% - var(--s)/2) 50%, #000 96%, #0000);
	background:
	  var(--_g) 0 / var(--_p,var(--s)) 100% no-repeat content-box,
	  var(--_g) var(--_p,0)/var(--s)  100% no-repeat content-box,
	  #fff;
	mix-blend-mode: darken;
	filter: blur(calc(var(--s)/12)) contrast(11);
	transition: .4s, background-position .4s .1s,
	  padding cubic-bezier(0,calc(var(--_i,-1)*200),1,calc(var(--_i,-1)*200)) .25s .1s;
  }
  
  input[type="checkbox"]:checked {
	background-color: #85ff7a;
  }
  
  input[type="checkbox"]:checked:before {
	padding: calc(var(--s)/10 + .05px) calc(var(--s)/10);
	--_p: 100%;
	--_i: 1;
  }
  
.flex-container {
	height: fit-content;
	width: fit-content;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.greenBtn {
	background: #47d547;
	border: 1px solid black;
	padding: 2px;
	cursor: pointer;
}
.greenBtn:hover {
	background: #339c33;
}

.green-trash-bin {
	color: #47d547;
}

.gray {
	background-color: gray;
}

.account {
	padding: 10px 0;
	border: 1px solid #47d547;
	min-height: 90%;
	height: fit-content;
	width: 90%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 30px;
  }

.accountPnl {
	padding: 10px 0;
	width: 100vw;
	min-height: 70vh;
	height: fit-content;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.account .name {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 5px;
}

.name input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.fileInput {
	width: fit-content;
	height: fit-content;
}

.imageUploader {
	height: 150px;
	width: 150px;
	border: 1px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #9c9c9c;
	border-radius: 50%;
	cursor: pointer;
	transition: 0.4s;
}

.imageUploader:hover {
	transition: 0.4s;
	background-color:  #c2c2c2;
}

.imageUploader h6 {
	text-align: center;
	user-select: none;
}

.profilePicture {
	border: 3px solid #47d547;
	height: 150px;
	width: 150px;
	border-radius: 50%;
	cursor: pointer;
	transition: 0.4s;
	object-fit: cover;
}

.avatarBtn {
  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition: 0.4s;
}

.avatarBtn:hover {
	transition: 0.4s;
	background-color: #038d5a;
}

.line-container {
	display: inline
}

.microProfilePicture {
	border: 2px solid #47d547;
	height: 60px;
	width: 60px;
	border-radius: 50%;
	cursor: pointer;
	transition: 0.4s;
	object-fit: cover;
}

.dialog {
	position: absolute;
	top: 37vh;
	left: 25vw;
	z-index: 1;
	background-color: gray;
	border: 1px solid black;
	width: 50vw;
	height: 25vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 20px;
	pointer-events: auto;
	user-select: auto;
}

.dialog h2 {
	text-align: center;
}

.dialog button {
	border: 2px solid black;
	width: 50px;
	height: 25px;
	cursor: pointer;
}

.yesBtn {
	margin-right: 10px;
	background-color: #339c33;
}

.noBtn {
	margin-left: 10px;
	background-color: #d83f3f;
}

.flexContainer input {
	min-width: 200px
}

.documentCreatorBtn {
	background-color: #04AA6D;
	padding: 7px;
	font-size: 15px;
	font-weight: bold;
	color: white;
	border: 1px solid #037a4f;
	cursor: pointer;
	transition: 0.4s;
}

.documentCreatorBtn:hover {
	background-color: #037a4f;
	transition: 0.4s;
}

.documentCreatorBtn:active{
	background-color: #025e3c;
}

.yellow {
    background: yellow;
}

td input[type="text"] {
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    text-align: center;
    background-color: transparent;
    border: none;
    outline: none;
	padding: 5px;
}

.expensesInput {
	font-family: 'Times New Roman', Times, serif;
	font-size: 15px;
    background-color: transparent;
    border: none;
    outline: none;
    max-width: 100%;
	width: 100px;
    text-align: center;
}

.sessionContainer {
	border-top: 1px solid black;
	display: grid;          
	grid-template-columns: 1fr 1fr; 
	width: 100vw;          
	height: fit-content;
	min-height: 70vh;
	overflow-y: hidden;
}


.box {
	padding: 10px;
	width: 100%;
}

.box label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

.box input[type="text"],
.box select {
    width: 97%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    color: #333;
}

.box input[type="text"]::placeholder {
    color: #aaa;
}

.box select {
    background-color: #fff;
    -webkit-appearance: none;  /* For Safari */
    -moz-appearance: none;     /* For Firefox */
    appearance: none;
}

.box select:focus,
.box input[type="text"]:focus {
    border-color: #007BFF;
    outline: none;
}

.box option {
    padding: 10px;
}

.session {
	border: 1px solid #037a4f;
	width: 100%;
	min-height: 150px;
	height: fit-content;
	padding: 5px 10px;
	margin-bottom: 10px;
}

.blueText {
	color: blue;
	text-decoration: underline;
}

.box button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.box button:hover {
    background-color: #0056b3;
}

.box button:focus {
    outline: none;
    background-color: #004494;
}

.box p.guide {
	width: 97%;
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    background-color: #f9f9f9;
    font-size: 14px;
    line-height: 1.6;
    color: #555;
}

.box p.guide strong {
    color: #333;
}

.box ol {
    margin-top: 20px;
    padding: 0 20px;
    list-style: decimal inside;
    border-top: 1px solid #e0e0e0;
}

.box ol li {
    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0;
    font-size: 16px;
    color: #333;
}

.box ol li:last-child {
    border-bottom: none;
}


  

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 

@keyframes walk {
	0% {color: black;}
	25% {color: rgba(255, 0, 0, 0.582);
	transform: rotate(-25deg);}
	50% {color: gold;}
	100% {color: rgb(0, 0, 0);}
}

@media only screen and (max-width: 600px) {
	.table {
		overflow-x: scroll;
	}
}